.App {
  text-align: center;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.test-box1{
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(15, 150, 60);
}
.test-box2{
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(15, 150, 60);
}
.basic{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction:column;
  min-height:100vh;
}
.box{
  display: flex;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(15, 150, 60);
}
.exit{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  flex-wrap: wrap;
}