.App {
  text-align: center;
}
.main{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.test-box1{
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(15, 150, 60);
}
